name: Push Updates

on:
  workflow_dispatch:

jobs:
  main:
    env:
      REGVER: "0.16.1"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Dockerhub Login
        uses: docker/login-action@v1
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Github CR Login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: nthnv.me CR Login
        uses: docker/login-action@v1
        with:
          registry: cr.nthnv.me
          username: ${{ secrets.NTHNVCR_USERNAME }}
          password: ${{ secrets.NTHNVCR_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          build-args: REGVER=${{ env.REGVER }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            docker.io/nathanvaughn/reg:latest
            docker.io/nathanvaughn/reg:${{ env.REGVER }}
            ghcr.io/nathanvaughn/reg:latest
            ghcr.io/nathanvaughn/reg:${{ env.REGVER }}
            cr.nthnv.me/library/reg:latest
            cr.nthnv.me/library/reg:${{ env.REGVER }}
